._container {
  width: $maxWidthContainer + px;
  margin: 0 auto;
  height: 100%;
  @media (max-width: $md1+px) {
    width: 970px;
  }
  @media (max-width: $md2+px) {
    width: 95%;
  }
  @media (max-width: $md3+px) {
    width: 98%;
  }
}
@media screen and (max-width: 1200px) {
  .header-content__about {
    text-shadow: 0 0 5px black;
  }
  .main__assortment {
    min-height: 699px;
    overflow: hidden;
    .assortment__wrap {
      padding: 30px 0 50px;
      justify-content: space-evenly;
      .assortment__type {
        padding-bottom: 17px;
      }
      .assortment__img {
        padding-bottom: 10px;
      }
    }
  }

  .main__about {
    width: 100%;
    margin-bottom: 0;
  }
  .slider-item {
    position: relative;
    max-width: 250px;
    margin-right: 25px;
    &__img {
      width: 150px;
      height: 150px;
    }
  }
}
@media screen and (max-width: 970px) {
  .top-header__wrap .nav-logo {
    justify-content: space-between;
    min-width: 0px;
  }
  #menuToggle {
    margin: 0 2rem;
    display: inline-block;
    // position: absolute;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 0x;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle .burger-line {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    top: 15px;
    background: $colorLight;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  #menuToggle .burger-line:nth-child(3) {
    width: 27px;
    height: 4px;
  }

  #menuToggle .burger-linepan:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle .burger-line:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ .burger-line {
    width: 45px;
    height: 4px;
    opacity: 1;
    transform: rotate(45deg) translate(0px, -3px);
    -webkit-transform: rotate(45deg) translate(0px, -3px);
    -moz-transform: rotate(45deg) translate(0px, -3px);
    -ms-transform: rotate(45deg) translate(0px, -3px);
    -o-transform: rotate(45deg) translate(0px, -3px);
  }
  #menuToggle input:checked ~ .burger-line:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -moz-transform: rotate(0deg) scale(0.2, 0.2);
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
    -o-transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ .burger-line:nth-last-child(2) {
    transform: rotate(-45deg) translate(-3px, 8px);
    -webkit-transform: rotate(-45deg) translate(-3px, 8px);
    -moz-transform: rotate(-45deg) translate(-3px, 8px);
    -ms-transform: rotate(-45deg) translate(-3px, 8px);
    -o-transform: rotate(-45deg) translate(-3px, 8px);
  }
  .nav__list {
    flex-direction: column;
  }
  .menu {
    display: block;
    flex-direction: column;
    position: absolute;
    background-color: $colorDark;
    min-width: 344px;
    min-height: 359px;
    justify-content: space-evenly;
    right: 200px;
    top: 70px;
    z-index: 22;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
  }

  #menu li {
    padding-bottom: 10px;
    font-weight: 700;
    line-height: 24px;
  }
  #menuToggle input:checked ~ ul {
    right: -100%;
  }
  .main__assortment {
    min-height: 550px;
    .assortment__wrap {
      padding: 30px 0 0px;
    }
  }
  .main__about {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    min-height: 100px;
    padding: 20px 5%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    line-height: normal;
  }
  .header-content {
    &__wrap {
      margin: 10px 0 0 !important;
    }
    &__about {
      .title {
        margin-bottom: 1rem;
      }
      p {
        min-height: 0px;
        margin-bottom: 1rem;
      }
    }
    .title {
      &::before {
        bottom: -10px;
      }
    }
  }
  .header-content__links {
    display: flex;
    flex-direction: row;
    right: 9.5%;
    top: 1%;
    a {
      margin-right: 1.7rem;
    }
  }
  .main__assortment {
    min-height: 0px;
    margin-bottom: 0px;
    .assortment__wrap {
      padding: 20px 0 50px;
      .assortment__type {
        padding-bottom: 20px;
        width: 47%;
        .assortment__img {
          padding-bottom: 4px;
          img {
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }
  }
  .assortment .title::before,
  .main__slider .title::before {
    bottom: -5px;
  }
  .main__about {
    flex-direction: column;
    margin-bottom: 70px;
    padding: 0;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
    .about-info {
      border: 1px solid white;
      width: 100%;
    }
    .line-vertical {
      display: none;
    }
  }

  .slider {
    .slick-list {
      margin-bottom: 5px;
    }
    .slider-item {
      position: relative;
      max-width: 250px;
      margin-right: 15px;
      &__img {
        width: 100px;
        height: 100px;
      }
    }
    .slick-arrow.slick-prev {
      left: 30%;
    }

    .slick-arrow.slick-next {
      right: 30%;
    }
  }
}
