$fontMain: "Poppins";
$fontSecond: "Gilroy";

$colorLight: white;
$colorDark: rgba(51, 51, 51, 1);

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
