// &display=swap&subset=cyrillic-ext

@import "mixin";
@import "vars";
@import "libs";
@import "fonts";
@import "media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: $fontMain;
  color: $colorDark;
  @include adaptiv-font(15, 14);
  letter-spacing: 0.01em;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.btn {
  display: inline-block;
  width: 260px;
  height: 50px;
  font-weight: 500;
  transition: 0.5s;
  @include adaptiv-font(20, 14);
  line-height: 30px;
  text-align: center;
  padding: 10px 0;
  &:hover {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
}
header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $colorLight;
  overflow: hidden;
}
.header__top {
  background-color: $colorDark;
  height: 70px;
  width: 100%;
}
.top-header__wrap {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    font-family: $fontSecond;
    height: 100%;
    margin-right: 10px;
    align-items: center;
  }
  .nav {
    display: flex;
    height: 100%;
    line-height: 18px;
    // transform: translateX(-50%);
    // -webkit-transform: translateX(-50%);
    // -moz-transform: translateX(-50%);
    // -ms-transform: translateX(-50%);
    // -o-transform: translateX(-50%);
    input {
      display: none;
    }
    .burger-line {
      display: none;
    }
  }
  &__logo {
    align-self: center;
  }
  .menu {
    display: flex;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    li {
      margin-right: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.231);
      }
    }
    .dropdown {
      position: relative;
      padding-right: 5%;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        right: 10%;
        top: 45%;
        position: absolute;
        width: 2px;
        height: 5px;
        background-color: $colorLight;
      }
      &::before {
        transform: skew(45deg);
        -webkit-transform: skew(45deg);
        -moz-transform: skew(45deg);
        -ms-transform: skew(45deg);
        -o-transform: skew(45deg);
      }
      &::after {
        transform: skew(-45deg) translateX(5px);
        -webkit-transform: skew(-45deg) translateX(5px);
        -moz-transform: skew(-45deg) translateX(5px);
        -ms-transform: skew(-45deg) translateX(5px);
        -o-transform: skew(-45deg) translateX(5px);
      }
      &:hover {
        .dropdown__list {
          display: flex;
        }
      }
    }
  }
  .dropdown__list {
    display: none;
    flex-direction: column;
    width: 200%;
    box-shadow: 0 0 5px $colorLight;
    position: absolute;
    text-align: center;
    left: 5%;
    top: 100%;
    z-index: 222;
    background-color: $colorDark;
    li {
      padding: 10px;
      margin-right: 0;
    }
  }

  a {
    color: white;
  }
  .search-favorite {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 100%;
    form {
      overflow: hidden;
      position: relative;
      margin-right: 2rem;
      height: 100%;
      overflow: hidden;
      i {
        position: absolute;
        z-index: 22;
        right: 15px;
        top: 30%;
      }
    }
    i {
      font-size: 20px;
      cursor: pointer;
    }
    input[type="text"] {
      position: relative;
      border: none;
      outline: none;
      transition: 0.5s;
      //visibility: hidden;
      height: 100%;
      width: 0px;
      border-radius: 5px;
      margin-right: 10px;
      width: 40px;
      transform: translateX(150%);
      &.show--input {
        width: 100px;
        transform: translateX(0);
        transform-origin: right bottom;
        padding: 0 25px 0 5px;
        //visibility: visible;
        & + i {
          color: $colorDark;
        }
      }
    }
  }
}
.title {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: bold;
  @include adaptiv-font(19, 12);
  line-height: 28px;
  transition: 0.5s;
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 46px;
  }
}
.header-content {
  position: relative;
  background-image: url(../img/Vector.png), url(../img/heder_fullScreen.png);
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
  background-size: cover;
  &__wrap {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }
  &__shoping {
    align-self: start;
    max-width: 620px;
    h1 {
      font-style: normal;
      font-weight: normal;
      @include adaptiv-font(38, 20);
      line-height: 57px;
      margin-bottom: 1.2rem;
    }
    .shop-online {
      background-color: $colorLight;
      color: #333333;
    }
  }
  &__about {
    max-width: 411px;
    align-self: flex-end;
    .title {
      margin-bottom: 1.7rem;
    }
    .read-more {
      border: 2px solid $colorLight;
    }
    p {
      margin-bottom: 1.3rem;
      font-style: normal;
      font-weight: 500;
      @include adaptiv-font(16, 12);
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      line-clamp: 5;
      box-orient: vertical;
    }
  }
  .title {
    &::before {
      background-color: $colorLight;
      bottom: -17px;
    }
  }
}

.links,
.header-content .arrow-down {
  position: absolute;
}
.header-content .arrow-down {
  animation: puls 10s ease-in-out infinite alternate;
  left: 8%;
  bottom: 5%;
  transition: 0.5s;
  -webkit-animation: puls 10s ease-in-out infinite alternate;
}
@keyframes puls {
  0% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
.header-content__links {
  display: flex;
  flex-direction: column;
  right: 9.5%;
  top: 10%;
  a {
    margin-bottom: 1.7rem;
    img {
      width: 100%;
    }
  }
}
.mask {
  position: absolute;
  background-color: $colorDark;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.assortment .title::before,
.main__slider .title::before {
  background-color: $colorDark;
  bottom: -14px;
  left: 22%;
}
.main__assortment {
  background: url(../img/main-vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 899px;
  .assortment__wrap {
    padding: 70px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .assortment__type {
      position: relative;
      text-align: center;
      padding-bottom: 47px;
      width: 30%;
      &:hover {
        .mask {
          opacity: 0.5;
        }
        .title {
          color: $colorLight;
          transform: translateY(-400%);
          -webkit-transform: translateY(-400%);
          -moz-transform: translateY(-400%);
          -ms-transform: translateY(-400%);
          -o-transform: translateY(-400%);
          &::before {
            background-color: $colorLight;
          }
        }
      }
      .assortment__img {
        padding-bottom: 16px;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
.main__about {
  overflow: hidden;
  position: relative;
  width: 1220px;
  margin: 0 auto;
  color: $colorLight;
  text-align: center;
  background-color: $colorDark;
  min-height: 100px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  margin-bottom: 80px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  h4 {
    font-weight: normal;
    @include adaptiv-font(19, 14);
    line-height: 28px;
  }
}
.main__slider {
  h3 {
    text-align: center;
    margin-bottom: 46px;
    .title::before {
      left: 35%;
    }
  }
}
.line-vertical {
  display: inline-block;
  background-color: $colorLight;
  width: 10%;
  height: 2px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.wrap-slick-carousel {
  margin-bottom: 80px;
}

.slider {
  position: relative;
  min-width: 0;
  .slick-arrow {
    position: absolute;
    bottom: -10px;
    font-size: 0;
    width: 15px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .slick-arrow.slick-prev {
    background: url(../img/arrow-left.svg) 0 0 /100% no-repeat;
    left: 40%;
  }

  .slick-arrow.slick-next {
    background: url(../img/arrow-right.svg) 0 0 /100% no-repeat;
    right: 40%;
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-dots li {
    list-style: none;
  }

  .slick-dots li.slick-active button {
    border: 1px solid #000;
  }

  .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: none;
    margin-right: 10px;
    background-color: #c4c4c4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.slider-item {
  position: relative;
  max-width: 250px;
  margin-right: 25px;
  @include adaptiv-font(16, 10);
  line-height: 24px;

  &:hover .mask {
    opacity: 0.5;
  }
  &__img {
    background: #f6f5f3;
    width: 250px;
    height: 250px;
    margin-bottom: 14px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  h4 {
    font-weight: bold;
  }
  span {
    font-weight: 500;
  }
}

.slick-list {
  overflow: hidden;
  margin-bottom: 47px;
}
.slick-track {
  display: flex;
  align-self: start;
}
